{% extends "base.html" %}
{%block title %} Add Student {% endblock %}
{% block content %}
<div class="text-center container mt-5">
  <h1 class="display-4 mb-3">Add Student</h1>
  <form action="/add_student" method="post" class="form-inline justify-content-center mb-3">
    <label for="name" class="sr-only">Student Name:</label>
    <input type="text" id="name" name="name" placeholder="Student Name" class="form-control mr-2">
    <label for="roll_number" class="sr-only">Roll Number:</label>
    <input type="number" id="roll_number" name="roll_number" placeholder="Roll Number" class="form-control mr-2">
    <button type="submit" class="btn btn-primary">Add Student</button>
  </form> 
</div>
{% endblock %}
